.game__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.game__info-panel {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  align-self: baseline;
  margin-left: 5px;
  color: #1f6f50;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #1f6f50 1px solid;
}

.game__score,
.game__level,
.game__lines {
  margin: 5px;
  padding: 0;
}

.game__piece-title {
  margin: 0;
}

#game__held-piece {
  margin: 5px;
}

#game {
  border: #1f6f50 1px solid;
}
