.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__title_active {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: fixed;
  visibility: visible;
  top: 25px;
  left: 25px;
  color: #1f6f50;
  padding: 0;
  margin: 0;
  max-width: 100px;
  z-index: 1001;
}

.page__title_mobile {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  visibility: visible;
  top: 20px;
  color: #1f6f50;
  padding: 0;
  margin: 0;
  max-width: 400px;
  z-index: 1001;
}

body {
  background-color: #1b1b1b;
  margin: 0;
  padding: 0;
}
