.start-screen {
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    color: #1f6f50;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    text-align: center;
}

.start-screen_inactive {
    visibility: hidden;
}

.start-screen__content {
    max-width: 400px;
    text-align: center;
}

.start-screen__title {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    font-size: 3rem;
    margin-bottom: 20px;
}

.start-screen__instructions {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.start-screen__btn {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 30px;
    min-width: 80px;
    border-radius: 1rem;
    font-size: 1rem;
    color: #1f6f50;
    background-color: #1b1b1b;
    border: 2px solid #1f6f50;
}

.start-screen__btn:hover {
    color: #1b1b1b;
    background-color: #1f6f50;
    border: 1px solid #1b1b1b;
    cursor: pointer;
}